/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./app/css/style.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* style global css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    width: 500px;
    margin: 0 auto;
    background-color: #5A6168;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    height: auto;
    border-radius: 10px;
    padding: 2.5rem 1.5rem;
}

.title-form {
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.formgrid {
    margin: 0.5rem 0;
}

.formgrid label {
    color: rgb(210, 210, 210);
}

button {
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(50, 50, 50) !important;
}
